<footer class="container-fluid footer">
    <div class="row">
        <div class="col-sm-4 left-footer">
            <h4>Connect with ITL</h4>
            <ul>
                <a href="">
                    <li>
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </li>
                </a>
                <a href="">
                    <li>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </li>
                </a>
                <a href="">
                    <li>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </li>
                </a>
                <a href="">
                    <li>
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </li>
                </a>
                <a href="">
                    <li>
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </li>
                </a>
            </ul>
        </div>
        <div class="col-sm-8 right-footer">
            <div class="col-sm-4 right-footer-columns" >
                <h5 (click)="toggleMenu()">About</h5>
                <ul [ngClass]="{'drop': isClicked }" class="footer-drop">
                    <li>About ITL</li>
                    <li>Mission</li>
                    <li>Our Team</li>
                    <li>News</li>
                    <li>Events</li>
                    <li>Careers</li>
                </ul>
            </div>
            <div class="col-sm-4 right-footer-columns" >
                <h5 (click)="toggle()">Services</h5>
                <ul class="footer-drop">
                    <li>Training</li>
                    <li>Repair Service</li>
                    <li>Web Portal</li>
                    <li>Services</li>
                    <li>Lighting Guide</li>
                </ul>
            </div>
            <div class="col-sm-4 right-footer-columns">
                <h5>Contact</h5>
                <ul class="footer-drop">
                    <li>Contact Us</li>
                    <li>Support</li>
                    <li>FAA Guidelines</li>
                    <li>Terms &amp; Conditions</li>
                    <li>Privacy Policy</li>
                    <li>Contact Sales</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row footer-info">
        <img src="/assets/img/itl_logo_footer.svg" alt="ITL logo">
        &copy;2017 <span>Internation Tower Lighting,LLC</span> All Rights Reserved.
    </div>
    <div [@testAnimate]="isAnimate">hello there</div>
</footer>
