@import '../../../styles';



.header {
    display: flex;
    align-items: center;
    height: 50px;
    background: $black;
    ul {
        display: flex;
    }
    .left {
        display: flex;
        align-items: center;
        li {
            margin: 15px;
        }
        img {
            width: 37px;
            height: 36px;
            margin-right: 10px;
            margin-bottom: 7px;
        }
    }
    .right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
        button {
            height: 35px;
            width: 65px;
            border-radius: 25px;
            border: 1px solid $seaGreen;
            background: none;
            margin-left: 10px;
            color: $seaGreen;
            &:hover {
                background: $white;
            }
            a {
                color: #19647e;
                &:hover {
                    background: none;
                }
            }
        }
        input {
            height: 35px;
            border-radius: 3px;
            border: none;
            box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
            padding-left: 10px;
            font-weight: 200;
            min-width: 200px;
        }

    a {
        color: $white;
        &:hover {
            // background: $hoverBlack;
            color: gray;
            text-decoration: none;
        }
    }
}
