
<div class="home-container container-fluid">
    <div class="row">
        <app-hero-banner></app-hero-banner>
    </div>
    <h1 class="featured-title text-center">Featured Products</h1>
    <div class="row featured-products-row" *ngFor="let home of homes">
        <div class="col-xs-12 col-sm-6">
            <img src="../..{{home.image}}" alt="{{home.title}}">
        </div>
        <div class="col-xs-12 col-sm-6">
            <h2 class="featured-product-title">{{ home.title}}</h2>
            <p>{{ home.info }}</p>
            <button class="btn btn-primary">Learn More</button>
        </div>
    </div>

    <!-- MID PAGE BANNER COMPONENT -->
    <div class="row mid-page-banner">
        <div class="col-sm-6 left">
            <!-- Background Image -->
        </div>
        <div class="col-sm-6 right">
            <h2>ITL Software</h2>
            <p>ITL offers software ranging from a ITL secure web portal, ITL Network Operation Control Center (iNOCC) 24/7/365 monitoring systems, and  AutoDialer Pro™ Network Operation Center (NOC) Software.</p>
            <p class="link">Learn More >></p>
            <img class="icon" src="./assets/img/dashboard_wht.svg" alt="Software Logo">
        </div>
    </div>

    <div class="row mid-page-cta margin-btm">
        <div class="col-md-12">
            <h2>Parts &amp; Service</h2>
            <p class="para-max-width">ITL offers in house <strong>repairs</strong>, and aftermarket <strong>parts</strong> for high intensity and medium intensity strobe obstruction lights of all major models.</p>
            <button class="btn btn-default">Find Parts</button>
            <img src="./assets/img/circuit_chip.svg" alt="">
        </div>
    </div>

    <div class="row btm-page-banner">
        <div class="col-md-12">
            <h2>Find Out About ITL’s News &amp; Events</h2>
            <p>Trade shows, Installs, Training and Products</p>
            <a href="#">Go To News >></a>
        </div>
    </div>
</div>
