@import '../../../styles.scss';

img {
    width: 100%;
    max-width: 450px;
}

.hero-banner {
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)),  url('/assets/img/homepage_slider2.jpg');
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 80px;
    background-position: 50% 50%;
    padding-top: 120px;
    color: white;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    h1,h4 {
        transition: all .2s ease;
        max-width: 390px;
    }
    h1 {
        // font-weight: $light;
    }
    h4 {
        font-weight: $extraLight;
    }
    img {
        width: 125px;
        position: absolute;
        bottom: 15px;
        right: 15px;
    }
}

@media (min-width:640px) {
    .hero-banner {
        h1,h4 {
            max-width: initial;
            text-align: center;
        }
        h1 {
            font-size: 2.75em;
        }
    }

}

@media (min-width: 768px) {
    .hero-banner {
        h1 {
            font-size: 3.4em;
        }
    }
}

@media (min-width: 1024px) {
    .hero-banner {
        h1 {
            font-size: 4em;
        }
        h4 {
            font-size: 1.35em;
        }
    }
}

@media (min-width: 1440px) {
    .hero-banner {
        h1 {
            font-size: 4.5em;
        }
        h4 {
            font-size: 1.45em;
        }
    }
}

.featured-title {
    margin-bottom: 50px;
}

.featured-products-row {
    padding: 30px 10px;
    margin-bottom: 50px;
}

.featured-product-title {
    font-weight: 200;
}

/* Mid Page Banner Component */
.mid-page-banner {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    color: $white;
    margin-bottom: 70px;
    h2 {
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    .left,
    .right {
        height: 300px;
    }
    .left {
        background: gainsboro;
        background-image: url('../../../assets/img/softwareImg.jpg');
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    .right {

        padding-top: 20px;
        background: #2C3E50;
        background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);
        background: linear-gradient(to right, #4CA1AF, #2C3E50);

    }
    .link {
        margin-top: 20px;
        font-weight: 200;
        font-style: italic;
    }
    .icon {
        position: absolute;
        right: 15px;
        bottom: 15px;
        width: 15px;
    }
}

/* MID PAGE CTA COMPONENT */

.mid-page-cta {
    text-align: center;
    h2 {
        font-weight: 400;
        text-transform: uppercase;
    }
    p::first-letter {
        font-size: 2.25em;
        line-height: 0;
    }
    button {
        margin-bottom: 30px;
    }
    img {
        display: block;
        margin: 0 auto;
        width: 52px;
    }
}

/* BOTTOM PAGE BANNER */

.btm-page-banner {
    background: $lightgray;
    height: 285px;
    text-align: center;
    padding-top: 70px;
    h2 {
        font-weight: 400;
        text-transform: uppercase;
    }
    p {
        font-style: italic;
    }
}
