img {
    width: 100%;
    max-width: 450px;
}

.home-slider {
    background: url('/assets/img/homepage_slider2.jpg');
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;

}
