img {
    width: 100%;
    max-width: 450px;
}

.home-slider {
    background: url('/assets/img/homepage_slider2.jpg');
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 80px;
}

.featured-title {
    margin-bottom: 50px;
}

.featured-products-row {
    padding: 30px 10px;
}

.featured-product-title {
    font-weight: 200;
}
