
<!-- HEADER -->
<header class="container-fluid ">
    <div class="row header">
        <ul class="col-sm-7 left">
            <img src="assets/img/itl_single_logo_classic.svg" alt="ITL logo">
            <a routerLink="/home" routerLinkActive="active"><li>Home</li>
            </a>
            <a routerLink="/products" routerLinkActive="active"><li>Products</li>
            </a>
            <a routerLink="/parts-and-service" routerLinkActive="active"><li>Parts &amp; Service</li></a>
            <a routerLink="/news" routerLinkActive="active"><li>News</li>
            </a>
            <a routerLink="/contact" routerLinkActive="active"><li>Contact</li>
            </a>
        </ul>
        <ul class="col-sm-5 right">
                <li>
                    <input type="text" name="" value="" placeholder="Search">
                </li>
                <li>
                    <a href="#"><button class="login">Login</button></a>
                </li>

        </ul>
    </div>

</header>

<router-outlet></router-outlet>

<footer class="container-fluid footer">
    <div class="row">
        <div class="col-sm-4">
            <h4>Connect with ITL</h4>
            <ul>
                <a href="">
                    <li>
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </li>
                </a>
                <a href="">
                    <li>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </li>
                </a>
                <a href="">
                    <li>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </li>
                </a>
                <a href="">
                    <li>
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </li>
                </a>
                <a href="">
                    <li>
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </li>
                </a>
            </ul>
        </div>
        <div class="col-sm-8">
            right side
        </div>
    </div>

</footer>
